.close:hover,
.close:focus {
  box-shadow: inset -5.5em 0 0 0 #6c4de7, inset 5.5em 0 0 0 #6c4de7;
}
button {
  color: black;
  transition: 500ms;
  cursor: pointer;

  &:hover,
  &:focus {
    border-color: #6c4de7;
    color: #fff;
  }
}

button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}
